.toggle-container{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .toggle{
    display: grid;
    grid-template-columns: repeat(3, 25px);
    height: var(--toogle-height);
    border-radius: 12.5px;
    align-items: center;
    cursor: pointer;
  }
  
  .dot-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot{
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
  }

  .dot-label{
    position: absolute;
    margin-bottom: 45px;
    font-size: 14px;
}